<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>
            Skins
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding class="home">
    <h2>Skins</h2>
</ion-content>
