<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>
            {{ 'Settings' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>

    <ion-list>
        <ion-item (click)="hideCategories()">
            <ion-icon name="camera" item-left></ion-icon>
            {{'Hide_Categories' | translate }}
        </ion-item>
        <ion-item (click)="hideChallenges()">
            <ion-icon name="images" item-left></ion-icon>
            {{'Hide_Challenges' | translate }}
        </ion-item>
    </ion-list>

    <!--Force Fb-->
    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label>
                    {{'Setting_fbforce' | translate }}
                </ion-label>
                <ion-checkbox color="dark" [(ngModel)]="hasForcedFacebookUpload" (ngModelChange)="forceFacebook($event)"></ion-checkbox>
            </ion-item>
            <small>
                {{'Setting_fbforce_desc' | translate }}
            </small>
        </ion-card-content>
    </ion-card>

    <!--<ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label>
                    {{'Setting_fbforce' | translate }}
                </ion-label>
                <ion-checkbox color="dark" [checked]="hasForcedFacebook" (click)="forceFacebook()"></ion-checkbox>
            </ion-item>
            <small>
                {{'Setting_fbforce_desc' | translate }}
            </small>
        </ion-card-content>
    </ion-card>-->

    <ion-card>
        <ion-card-content>
            <ion-card-title>
                About Mobile App
            </ion-card-title>
            <p>
                The most popular industrial group ever, and largely
                responsible for bringing the music to a mass audience.
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>
