<ion-header>
    <ion-navbar>
        <button ion-button menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>
            Home
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="home">
    <h2>Basic Ionic 2 Template</h2>
    <p>Basic skeleton based on ng2-translate, indexedDb. Introduces simple mommy app for completing baby memory milestones by capturing photos locally or on Facebook.</p>
    <p>From the cordova side we have ready commands for camera, files, files transfer, facebook graph and auth.</p>
   
    <ul>
        <li>The main domains are located under src/app/domains.</li>
        <li>The interfaces are located under src/app/infrastructure.</li>
        <li>The ui components are located under src/pages.</li>
    </ul>
    <!--<generic-selector heading="rrr"></generic-selector>-->
    <!--<div>{{ 'HELLO' | translate }}</div>-->
    <!--{{users|json}}-->
    <!-- Button shaped as a circle that just like a normal button scrolls with the content -->
    <ion-fab right bottom>
        <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
        <ion-fab-list side="left">
            <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
            on
            <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
            <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
