<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>
            {{ 'Achievement' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card>
        <div style="padding:1em 10%;">
            <img [src]="achievement.picture" />
        </div>
        <ion-card-content>
            <ion-card-title>
                {{ achievement.name | translate }}
            </ion-card-title>
            <p>
                {{ achievement.description | translate }}
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>
