<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>
            {{ Achievements | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>

    <ion-list>
        <ion-item *ngFor="let achievement of achievements" (click)="onSubmit(achievement)">
            <ion-thumbnail item-left>
                <img [src]="achievement.picture">
            </ion-thumbnail>
            <h2>{{ achievement.name | translate }}</h2>
            <p>{{ achievement.description | translate }}</p>
            <button ion-button clear item-right>{{ 'Details' | translate }}</button>
        </ion-item>
    </ion-list>

</ion-content>
