<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>
            {{ 'Categories' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="categoriesMode != 2">
        <ion-item *ngFor="let category of list" (click)="onSubmit(category)">
            {{ category.name | translate }}
            <ion-badge item-right  *ngIf="category.type == 1 && category.total">
                <span *ngIf="category.completed != category.total">{{ category.completed }} / {{ category.total }}</span>
                <span *ngIf="category.completed == category.total">{{ 'Completed' | translate }}</span>
            </ion-badge>
            <ion-badge item-right *ngIf="category.type == 0 && category.total != 0">{{ 'Unlimited' | translate }}</ion-badge>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="categoriesMode == 2">
        <ion-item *ngFor="let category of list">
            <ion-label>{{ category.name | translate }}</ion-label>
            <ion-toggle [(ngModel)]="category.active" (ngModelChange)="toggleCategory($event, category)"></ion-toggle>
        </ion-item>
    </ion-list>
</ion-content>
