<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
        <ion-label>
            <ion-icon name="heart"></ion-icon>
        </ion-label>
        <ion-input type="text" formControlName="memory"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>{{'Facebook_upload' | translate }}</ion-label>
        <ion-checkbox color="dark" [checked]="isFacebookUploadEnabled" formControlName="isFacebookUploadEnabled"></ion-checkbox>
    </ion-item>
    <button type="submit" ion-button [disabled]="!form.valid">{{ 'Save' | translate }}</button>
</form>