<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>
            {{ category.name | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    
    <ion-list *ngIf="categoriesMode != 3">
        <ion-item *ngFor="let suggestion of suggestions" (click)="onSubmit(suggestion)">
           {{ suggestion.name | translate }}
            <ion-icon name='heart' item-right *ngIf="suggestion.completed"></ion-icon>
            <ion-icon name='heart-outline' item-right *ngIf="!suggestion.completed"></ion-icon>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="categoriesMode == 3">
        <ion-item *ngFor="let suggestion of suggestions">
            <ion-label>{{ suggestion.name | translate }}</ion-label>
            <ion-toggle [(ngModel)]="suggestion.active" (ngModelChange)="toggleSuggestion($event, suggestion)"></ion-toggle>
        </ion-item>
    </ion-list>

</ion-content>
