<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>
            {{ 'Challenge' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>

    <ion-fab left bottom *ngIf="currentSlide != 'picture'">
        <button ion-fab (click)="slideLeft()" color="light" >
            <ion-icon name="arrow-dropleft"></ion-icon>
        </button>
    </ion-fab>
    <ion-fab right bottom *ngIf="currentSlide != 'form'">
        <button ion-fab (click)="slideRight()">
            <ion-icon name="arrow-dropright"></ion-icon>
        </button>
    </ion-fab>

    <div class="flip-container flip" [ngClass]="{'flip': (flip === true)}" *ngIf="loaded">
        <div class="flipper success">
            <div class="front" (click)="onFlip()">
                <img [src]="challenge.pictureUrl" />
                <button type="button" ion-button (click)="onDelete()">{{ 'Delete' | translate }}</button>
            </div>
            <div class="back success">
                <ion-slides pager #slides (ionDidChange)="onSlideChanged()">
                    <ion-slide>
                        <div class="paper" (click)="onFlip()">
                            <div *ngIf="challenge.memory" class="rotate">{{challenge.memory}}</div>
                            <div *ngIf="!challenge.memory" class="rotate">{{ 'Write_memory' | translate }}</div>
                            <div style="color:#000">{{challenge.created | date:'medium'}}</div>
                            <div style="color:#000">{{challenge.facebookId }}</div>
                        </div>
                    </ion-slide>

                    <ion-slide>

                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <ion-item>
                                <ion-label>
                                    <ion-icon name="heart"></ion-icon>
                                </ion-label>
                                <ion-input type="text" formControlName="memory"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label>{{'Facebook_upload' | translate }}</ion-label>
                                <ion-checkbox color="dark" [checked]="hasForcedFacebook" formControlName="facebookShare"></ion-checkbox>
                            </ion-item>
                            <button type="submit" ion-button [disabled]="!form.valid">{{ 'Save' | translate }}</button>
                        </form>
                    </ion-slide>

                </ion-slides>
            </div>
        </div>
    </div>
</ion-content>
