<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>
            {{ challenge.name | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!--<ion-fab left bottom *ngIf="currentSlide != 'picture'">
        <button ion-fab (click)="slideLeft()" color="light" >
            <ion-icon name="arrow-dropleft"></ion-icon>
        </button>
    </ion-fab>
    <ion-fab right bottom *ngIf="currentSlide != 'form'">
        <button ion-fab (click)="slideRight()">
            <ion-icon name="arrow-dropright"></ion-icon>
        </button>
    </ion-fab>-->

    <div class="flip-container" [ngClass]="{'flip': (flip === true)}">
        <div class="flipper">
            <div class="front">
                <ion-card>
                    <img [src]="challenge.pictureUrl" (click)="onFlip()" />
                    <ion-card-content>
                        <h2 class="card-title">
                            {{ challenge.name| translate }}
                        </h2>
                        <p>
                            The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
                        </p>
                    </ion-card-content>

                    <ion-row no-padding>
                        <ion-col>
                            <button ion-button clear small color="danger" icon-left>
                                <ion-icon name='star'></ion-icon>
                                Favorite
                            </button>
                        </ion-col>
                        <ion-col text-center>
                            <button ion-button clear small color="danger" icon-left>
                                <ion-icon name='musical-notes'></ion-icon>
                                Listen
                            </button>
                        </ion-col>
                        <ion-col text-right>
                            <button ion-button clear small color="danger" icon-left (click)="onDelete()">
                                <ion-icon name='trash'></ion-icon>
                                {{ 'Delete' | translate }}
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </div>
            <div class="back success">
                <ion-slides pager #slides (ionDidChange)="onSlideChanged()">
                    <ion-slide>
                        <div class="paper" (click)="onFlip()">
                            <div *ngIf="challenge.memory" class="rotate">{{challenge.memory}}</div>
                            <div *ngIf="!challenge.memory" class="rotate">{{ 'Write_memory' | translate }}</div>
                            <div style="color:#000">{{challenge.created | date:'medium'}}</div>
                            <div style="color:#000">{{challenge.facebookId }}</div>
                        </div>
                    </ion-slide>

                    <ion-slide>

                        <challenge-form challenge="challenge" (onFormSubmited)="onFormSubmited($event)"></challenge-form>

                    </ion-slide>

                </ion-slides>
            </div>
        </div>
    </div>
</ion-content>
