<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>
            {{ 'Profiles' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let profile of list" (click)="onSubmit(profile)">
            {{ profile.name | translate }}
        </ion-item>
    </ion-list>
    <ion-fab right bottom>
        <button ion-fab (click)="onAdd()">
            <ion-icon name="md-person-add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
