<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title>
            {{ 'Baby_Profile' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label>{{ 'Baby_Name' | translate }}</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <button type="submit" ion-button [disabled]="!form.valid">{{ 'Save' | translate }}</button>
        <button type="button" formnovalidate ion-button (click)="onDelete()" *ngIf="profile.id > 0">{{ 'Delete' | translate }}</button>
        <select-profile [profile]="profile" [hidden]="!profile.id"></select-profile>
    </form>
    
</ion-content>
